extends includes/layout.pug

//- Substituindo o conteúdo padrão de um block
block conteudo
    h2 Substituindo um conteudo 
    ul
        li Novo conteudo
        li padrão 
        li olha 
        li que 
        li loucura